<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <form action="/" method="POST">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="Name" class="form-label mt-4">Name</label>
            <input
              type="text"
              class="form-control"
              id="Name"
              name="name"
              placeholder="Name"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="Description" class="form-label mt-4">Description</label>
            <input
              type="text"
              class="form-control"
              id="Description"
              name="description"
              placeholder="Description"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="Price" class="form-label mt-4">Price</label>
            <input
              type="number"
              class="form-control"
              id="Price"
              name="price"
              placeholder="Price"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="Image" class="form-label mt-4">Image</label>
            <input
              type="text"
              class="form-control"
              id="Image"
              name="image"
              placeholder="Image"
            />
          </div>
        </div>
        <div class="d-grid mt-1 text-end">
          <button type="submit" class="btn btn-success">add</button>
        </div>
      </div>
    </form>
  </body>
</html>
